.container{
     height:50%;
     justify-content:center;
     margin: 20px 0;
     background-color:FF6969;
     color: #fff;
     border: none;
     padding: 10px 20px;
     font-size:27;
  
}


body{
    text-align: center;
    background-color:BEADFA;
	
}

button{
	 border:none;
	 background-color:#FFB6D9;
         padding: 10px 10px;
	 color:#CD5C5C;
}
